body {
    background-color: #05c46b;
    font-family: Verdana;
    text-align: center;
}
    form {
        background-color: #ffffff;
        max-width: 500px;
        margin: 50px auto;
        padding: 30px 20px;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    }
        .form1 {
            text-align: left;
            margin-bottom: 25px;
        }
        .form1 label {
            display: block;
            margin-bottom: 10px;
        }
        .form1 input,
        .form1 select,
        .form1 textarea {
            border: 1px solid #777777;
            border-radius: 2px;
            font-family: inherit;
            padding: 10px;
            display: block;
            width: 95%;
        }
        .form1 input[type="radio"],
        .form1 input[type="checkbox"] {
            display: inline-block;
            width: auto;
        }
        button {
            background-color: #05c46b;
            border: 1px solid #777777;
            border-radius: 2px;
            font-family: inherit;
            font-size: 21px;
            display: block;
            width: 100%;
            margin-top: 50px;
            margin-bottom: 20px;
        }