*{
    margin:0;
    padding:0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #322653;
}
.stopwatch{
    background-color: #8062D6;
    padding: 20px;
    border-radius: 20px;
    
}
.timer{
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: #ffffff;

}
.buttons{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom:5px;
}
.start , .stop, .reset{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    border-radius: 10px;
    border: 0;
    padding: 5px 10px 5px 10px;
    background-color: #FFD2D7;
    cursor: pointer;
    
    


}